<div class="panel-body">
    <table class="table table-striped table-bordered table-hover">
        <a ng-href="#/addBlog" class="btn btn-info">新增</a>
        <thead>
        <td>序号</td>
        <td>题目</td>
        <td>内容</td>
        <td>操作</td>
        </thead>
        <tbody ng-repeat="blog in blogs">
        <tr>
            <td>{{blog.id}}</td>
            <td>{{blog.title}}</td>
            <td>{{blog.content}}</td>
            <td>
                <button class="btn btn-primary" ng-click="deleteBlog($index)">删除</button>
                &nbsp;
                <a ng-href="#/editBlog/{{blog.id}}" style="text-decoration: none">
                    <button class="btn btn-primary">修改</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="TotalItems" max-size="maxSize" items-per-page="5" ng-model="currentPage"
                class="pagination-sm" boundary-links="true"></pagination>
    <pre>Page: {{currentPage}} / {{totalPage}}</pre>
</div>