<style>
    footer {
        color: gray;
    }

    footer .footer {
        padding-top: 40px;
        height: 100px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
    }

    footer .footer h5 {
        font-size: 13px;
    }

    footer .footer h6 a {
        font-size: 12px;
        text-decoration: none;
        color: darkgray;
    }

</style>
<footer>
    <div class="footer">
        <h5>Copyright © {{webSet.fromYear}}-{{webSet.toYear}} xiaomo AllRight Reversed</h5>
        <h6><a href="{{webSet.beianUrl}}" target="_blank">{{webSet.beianNumber}}</a></h6>
    </div>
</footer>