<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">修改管理员信息</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <!-- fixme 要点1：给form起一个名字,并禁掉原生的验证  -->
                <form class="form-horizontal" name="updateAdminUserForm" role="form" novalidate>
                    <!-- 用户名 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            帐号：
                        </label>
                        <div class="col-md-10">
                            <span class="form-control">{{adminUser.userName}}</span>
                        </div>
                    </div>
                    <!-- 权限 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            权限：
                        </label>
                        <div class="col-md-10 radio-class">
                            超级管理员
                            <input type="radio" name="authLevel"
                                   ng-model="adminUser.authLevel" value="1"
                                   title="超级管理员"><br/>
                            普通管理员
                            <input type="radio" name="authLevel"
                                   ng-model="adminUser.authLevel" value="2"
                                   title="普通管理员"><br/>
                            默认观察者
                            <input type="radio" name="authLevel"
                                   ng-model="adminUser.authLevel" value="0"
                                   title="默认观察者"><br/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <!--  //fixme 要点4：将提交按钮是否可用交给ng来判断:合法的时候才可用 -->
                                <button ng-click="updateAdminUser(adminUser.userName,adminUser.authLevel)"
                                        class="btn btn-info"
                                        ng-disabled="updateAdminUserForm.$invalid">修改管理员账户
                                </button>
                                <button ng-click="showAdminUserList()" class="btn btn-default">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
