<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">编辑用户</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <!-- fixme 要点1：给form起一个名字,并禁掉原生的验证  -->
                <form class="form-horizontal" name="addUserForm" role="form" novalidate>
                    <!-- 用户名 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            邮箱：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addUserForm.email.$dirty && addUserForm.email.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addUserForm.email.$error.required">请输入邮箱
                                </small>
                                <small class="error" ng-show="addUserForm.email.$error.minlength">邮箱最少长度为3
                                </small>
                                <small class="error" ng-show="addUserForm.email.$error.maxlength">邮箱最大长度为18
                                </small>
                                <small class="error" ng-show="addUserForm.email.$error.unique">
                                    这个邮箱己经用过了，请换一个吧
                                </small>
                            </div>
                            <!-- end -->
                            <input type="email" name="email" class="form-control" placeholder="最多18个字符"
                                   ng-model="user.email" required ng-minlength="3" ng-maxlength="18"
                                   ensure-admin-user-unique="email">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            昵称：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addUserForm.nickName.$dirty && addUserForm.nickName.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addUserForm.nickName.$error.required">请输入昵称
                                </small>
                                <small class="error" ng-show="addUserForm.nickName.$error.minlength">昵称最少长度为3
                                </small>
                                <small class="error" ng-show="addUserForm.nickName.$error.maxlength">昵称最大长度为12
                                </small>
                            </div>
                            <!-- end -->
                            <input type="text" name="nickName" class="form-control" placeholder="最多12个字符"
                                   ng-model="user.nickName" required ng-minlength="3" ng-maxlength="12"
                                   e>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            电话：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addUserForm.phone.$dirty && addUserForm.phone.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addUserForm.phone.$error.required">请输入用户名
                                </small>
                                <small class="error" ng-show="addUserForm.phone.$error.minlength">用户名最少长度为3
                                </small>
                                <small class="error" ng-show="addUserForm.phone.$error.maxlength">用户名最大长度为12
                                </small>
                            </div>
                            <!-- end -->
                            <input type="tel" name="phone" class="form-control" placeholder="最多12个字符"
                                   ng-model="user.phone" required ng-minlength="3" ng-maxlength="12"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            地址：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addUserForm.address.$dirty && addUserForm.address.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addUserForm.address.$error.required">请输入地址
                                </small>
                                <small class="error" ng-show="addUserForm.address.$error.minlength">地址最少长度为3
                                </small>
                                <small class="error" ng-show="addUserForm.address.$error.maxlength">地址最大长度为64
                                </small>
                            </div>
                            <!-- end -->
                            <input type="text" name="address" class="form-control" placeholder="最多64个字符"
                                   ng-model="user.address" required ng-minlength="3" ng-maxlength="64"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            性别：
                        </label>
                        <div class="col-md-10">
                            男
                            <input type="radio" name="gender"
                                   ng-model="user.gender"
                                   title="男">
                            女
                            <input type="radio" name="gender"
                                   ng-model="user.gender"
                                   title="女">
                            保密
                            <input type="radio" name="gender"
                                   ng-model="user.gender"
                                   title="保密">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <!--  //fixme 要点4：将提交按钮是否可用交给ng来判断:合法的时候才可用 -->
                            <button ng-click=""
                                    class="btn btn-info"
                                    ng-disabled="addUserForm.$invalid">添加用户
                            </button>
                            <button ng-click="showUserList()" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
