<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">编辑用户</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <!-- fixme 要点1：给form起一个名字,并禁掉原生的验证  -->
                <form class="form-horizontal" name="editUserForm" role="form" novalidate>
                    <!-- 用户名 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            邮箱：
                        </label>
                        <div class="col-md-10">
                            <span class="form-control">{{user.email}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            昵称：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="editUserForm.nickName.$dirty && editUserForm.nickName.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="editUserForm.nickName.$error.required">请输入昵称
                                </small>
                                <small class="error" ng-show="editUserForm.nickName.$error.minlength">昵称最少长度为2
                                </small>
                                <small class="error" ng-show="editUserForm.nickName.$error.maxlength">昵称最大长度为12
                                </small>
                            </div>
                            <!-- end -->
                            <input type="text" name="nickName" class="form-control" placeholder="最多12个字符"
                                   ng-model="user.nickName" required ng-minlength="2" ng-maxlength="12"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            电话：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="editUserForm.phone.$dirty && editUserForm.phone.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="editUserForm.phone.$error.required">请输入用户名
                                </small>
                                <small class="error" ng-show="editUserForm.phone.$error.minlength">用户名最少长度为2
                                </small>
                                <small class="error" ng-show="editUserForm.phone.$error.maxlength">用户名最大长度为12
                                </small>
                            </div>
                            <!-- end -->
                            <input type="tel" name="phone" class="form-control" placeholder="最多12个字符"
                                   ng-model="user.phone" required ng-minlength="2" ng-maxlength="12"
                            >
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            地址：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="editUserForm.address.$dirty && editUserForm.address.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="editUserForm.address.$error.required">请输入地址
                                </small>
                                <small class="error" ng-show="editUserForm.address.$error.minlength">地址最少长度为2
                                </small>
                                <small class="error" ng-show="editUserForm.address.$error.maxlength">地址最大长度为64
                                </small>
                            </div>
                            <!-- end -->
                            <input type="text" name="address" class="form-control" placeholder="最多64个字符"
                                   ng-model="user.address" required ng-minlength="2" ng-maxlength="64"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            性别：
                        </label>
                        <div class="col-md-10">
                            男性
                            <input type="radio" name="gender"
                                   ng-model="user.gender" value="1"
                                   title="男"><br/>
                            女性
                            <input type="radio" name="gender"
                                   ng-model="user.gender" value="2"
                                   title="女"><br/>
                            保密
                            <input type="radio" name="gender"
                                   ng-model="user.gender" value="0"
                                   title="保密"><br/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <!--  //fixme 要点4：将提交按钮是否可用交给ng来判断:合法的时候才可用 -->
                            <button ng-click="updateUser(user.email,user.nickName,user.phone,user.address,user.gender)"
                                    class="btn btn-info"
                                    ng-disabled="editUserForm.$invalid">保存用户
                            </button>
                            <button ng-click="showUserList()" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
