<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">新增博客</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form" name="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            标题：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="最多64个字符" ng-model="blog.title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            简介：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="最多64个字符" ng-model="blog.summary">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            内容：
                        </label>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="16" placeholder="最多640个字符"
                                      ng-model="blog.content"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            标签：
                        </label>
                        <div class="col-md-10">
                            <button type="button" ng-class="{'btn-default':currentTag,'btn-success':currentTag}"
                                    class="btn"
                                    ng-click="operateTag(tag.id,currentTag)"
                                    ng-repeat="tag in tags.content track by $index ">
                                {{tag.name}}
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            作者：
                        </label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="最多16个字符" ng-model="blog.author">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button ng-click="addBlog()" class="btn btn-info">添加博客</button>
                            <button ng-click="showBlogList()" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
