<div>
    <div ng-class="{'alert-info':defaultClass,'alert-success':addClasss,'alert-warning':del,'alert-error':err}"
         class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>提示：</strong> {{commonInfo.msg}}
    </div>
    <div class="row">
        <div class="col-md-12">
            <a ui-sref="main.addBlog" class="btn btn-primary">新增博客</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <table class="table table-bordered table-hover table-striped ">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>标题</th>
                        <th>简介</th>
                        <th>作者</th>
                        <th>内容</th>
                        <th>标签</th>
                        <th>点击数</th>
                        <th colspan="2">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="blog in blogs" class="animated fadeInRight">
                        <td>{{$index+1}}</td>
                        <td>{{blog.title}}</td>
                        <td>{{blog.summary}}</td>
                        <td>{{blog.author}}</td>
                        <td>{{blog.content | contentFilter}}</td>
                        <td>{{blog.tagIds }}</td>
                        <td class="alert" ng-class="{'alert-success':blog.vote>10}">{{blog.vote}}</td>
                        <td>
                            <button class="btn btn-success" ui-sref="main.editBlog({id:blog.id})">修改</button>
                            <button class="btn btn-default" ng-click="deleteBlog($index)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="pager">
                    <pager page-count="pageCount" current-page="currentPage" on-page-change="onPageChange()"
                           first-text="首页" next-text="下一页" prev-text="上一页" last-text="尾页"></pager>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
