<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">添加友情链接</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <!-- fixme 要点1：给form起一个名字,并禁掉原生的验证  -->
                <form class="form-horizontal" name="addLinkForm" role="form" novalidate>
                    <!-- 用户名 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            名字：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addLinkForm.name.$dirty && addLinkForm.name.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addLinkForm.name.$error.required">请输入名字</small>
                                <small class="error" ng-show="addLinkForm.name.$error.minlength">名字最少长度为2
                                </small>
                                <small class="error" ng-show="addLinkForm.name.$error.maxlength">名字最大长度为12
                                </small>
                                <small class="error" ng-show="addLinkForm.name.$error.unique">
                                    这个名字己经用过了，请换一个吧
                                </small>
                            </div>
                            <!-- end -->
                            <input type="text" name="name" class="form-control" placeholder="最多12个字符"
                                   ng-model="link.name" required ng-minlength="2" ng-maxlength="12"
                                   ensure-link-unique="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            链接地址：
                        </label>
                        <div class="col-md-10">
                            <!--  fixme 要点2：这个div是要在内容发生变化且不合法才会显示-->
                            <!-- 错误信息 -->
                            <div class="error"
                                 ng-show="addLinkForm.url.$dirty && addLinkForm.url.$invalid">
                                <!-- fixme 要点3：格式为fromName.inputName.$error.xxx  -->
                                <small class="error" ng-show="addLinkForm.url.$error.required">请输入链接地址</small>
                                <small class="error" ng-show="addLinkForm.url.$error.minlength">链接地址最少长度为2
                                </small>
                                <small class="error" ng-show="addLinkForm.url.$error.maxlength">链接地址最大长度为128
                                </small>
                            </div>
                            <!-- end -->
                            <input type="url" name="url" class="form-control" placeholder="最多128个字符"
                                   ng-model="link.url" required ng-minlength="2" ng-maxlength="128">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <!--  //fixme 要点4：将提交按钮是否可用交给ng来判断:合法的时候才可用 -->
                            <button ng-click="addLink(link.name,link.url)"
                                    class="btn btn-info"
                                    ng-disabled="addLinkForm.$invalid">添加友链
                            </button>
                            <button ng-click="showLinkList()" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
