### Example user template template
### Example user template

# IntelliJ project files
.idea
out
node_modules
gen
# Created by .ignore support plugin (hsz.mobi)
target
framework
dist
coverage
bower_components
npm*log*